<!-- for the overall codes, the page is divided into two column, the first column is for the image and 
    the second column is for the login -->
<div class="container-fluid">
    <div class="">
        <div class="row no gutters">
            <div class="col-5" style="background-image:linear-gradient(180deg, rgba(9, 22, 15, 0.443),rgba(8, 129, 44, 0.443)),
             url('https://cdn.pixabay.com/photo/2017/04/25/06/15/father-and-son-2258681__340.jpg'); background-size: cover; height: 100vh; padding: 20px;">
            </div>
            <!-- here is the code for the login.  -->
            <div class="col-6">
                <div class="row no-gutters">
                    <!-- The login is divided into two column
                       First column starts here -->
                    <div class="col-8 text-center"  style="margin-top: 100px; background-color: rgb(209, 207, 201); border-radius: 10px;">
                        <div class="" style="font-size: 30px; font-weight:bold; margin-top: 40px;margin-bottom: 30px;">Sign in</div>
                        <form action="">
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-10 mb-4"><input type="text" class="form-control text-center"placeholder="Email" name="email"
                                    [(ngModel)]="logindata.email"
                                      [ngStyle] = "{'border': emailError ? '2px solid red' : 'none'}"></div>
                                <div class="col-1"></div>
                                <div class="col-1"></div>
                                <div class="col-10 mb-4"><input type="password" class="form-control text-center"placeholder="password" name="password"
                                    [(ngModel)]="logindata.password" [ngStyle] = "{'border':passwordError ? '2px solid red' : 'none'}"></div>
                                <div class="col-md-1"></div>
                                <div class="col-3"></div>
                                <div class="col-md-6"><button type="button" class="btn btn-block login"(click)="loginMember()">Login</button> </div>
                            </div>
                        </form> 
                    <div class="" style="margin-bottom: 70px;margin-top: 20px;">Forgot password? <span class=""style="color:rgb(104, 191, 67); font-size:20px; font-weight: bold; cursor: pointer;">Reset</span> </div>
                    </div>
                    <!-- the second column starts here -->

                    <div class="col-md-3 hove" style="background-color:rgb(135, 252, 86);color:white; margin-top: 130px; 
                    border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-bottom: 30px; ">
                            <div class="text-center" style="margin-top: 100px;">Don't have <br /> an account?</div>
                            <button type="button" class="btn btn-block" style="margin-bottom: 60px; font-size: 30px; color: white;"[routerLink]="['/register']">Sign Up</button>     
                    </div>
                </div>    
            </div> 
        </div>
    </div>
</div>
