input[type=text] {
   border-radius: 40px;;
  }
  input[type=password] {
 border-radius: 40px;
}


/* }
.hove :hover{
    margin-right: 0px;
    background-color: red;
}
btncolor{
    background-color:rgb(135, 252, 86);
} */