
<div class="container">
    <div class="row">
        <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/07/12/18/20/chucks-153310__340.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Men trendy snekers summers</p>
                        <a href="#" class="btn btn-primary cart">Add to cart</a>
                    </div>
                </div>
        </div>

        <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/07/12/18/20/chucks-153310__340.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Men trendy snekers summers</p>
                        <a href="#" class="btn btn-primary cart">Add to cart</a>
                    </div>
                </div>
        </div>

        <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/07/12/18/20/chucks-153310__340.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Men trendy snekers summers</p>
                        <a href="#" class="btn btn-primary cart">Add to cart</a>
                    </div>
                </div>
        </div>

        <div class="col-3">
                <div class="card">
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/07/12/18/20/chucks-153310__340.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Men trendy snekers summers</p>
                        <a href="#" class="btn btn-primary cart">Add to cart</a>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="container"  style="border: 1px solid gray; margin-top: 30px;">
    <div class="list">
        <ul>
            <li>
                <div class="row">
                    <div class="col-5"><input type="checkbox" name="isDone"  /> tsk 2</div>
                    <div class="col-7 text-center"><button class="btn btn-primary">Delete</button></div>
                </div>
                
                
            </li>
        </ul>
    </div>
</div>
