/* You can add global styles to this file, and also import other style files */
.login{
    background-color: rgb(135, 252, 86);
    border-radius: 40px;
    font-size: 20px;
}
butt :hover{
    background-color: green;
}

.hove:hover{
    background-color: green !important;
    /* width: 50px !important;
    transition: 50px !important; */
  
}
