<div class="container" >
<nav class="navbar navbar-expand-lg navbar-dark " style="color:black !important;" >
    <img src="assets/logo.jpg"  width="50"/>
    <a class="navbar-brand" href="#">
        <p style="color: black;"><span class="color">Temmy</span></p>
    </a>
   
    <div class="collapse navbar-collapse" id="menu">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
			<li class="nav-item active space  ">
				<a class="nav-link current" href="#" style="color:black;">ABOUT</a>
			</li>
			<li class="nav-item active space right-m ">
				<a class="nav-link active " [routerLink]="['/about']" style="color:black;" >PROJECTS</a>
			</li>	
			<li class="nav-item active space">
				<a class="nav-link" [routerLink]="['/service']"style="color:black;">TESTIMONIALS</a>
            </li>
		</ul>		
    </div>
</nav>
</div>

<div class="continer-fluid head text-center" style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.443), rgba(0, 0, 0, 0.443)),
 url(../assets/bkg.jpg); margin: 0px 20px 0px 20px; color:white;">
    <h2 style="padding-top: 60px; padding-bottom: 20px; ">Only success is not powered <br /> by technology</h2>
    <h2 style="font-weight:bold; margin-bottom: 5px;">It is powered by people</h2>

    <div>
    <swiper [config]="configTop" [(index)]="index" >
       <h5 style="margin-top: 50px; line-height: 35px;">We bridge the gap between digital, leadership  <br />and great companies. Partner with us and connect to<br /> 
        the generation of pioneers who are changing the <br /> world. Prtner with us becuse the future is human.</h5>

        <h5 style="margin-top: 50px; line-height: 35px;">We bridge the gap between digital, leadership  <br />and great companies. Partner with us and connect to<br /> 
            the generation of pioneers who are changing the <br /> world. Prtner with us becuse the future is human.</h5>
    </swiper>
    </div>
</div>
