<div class="container-fluid">
    <div class="row">
        <div class="col-5"style="background-image:linear-gradient(180deg, rgba(9, 22, 15, 0.443),rgba(8, 129, 44, 0.443)),
        url('https://cdn.pixabay.com/photo/2017/04/25/06/15/father-and-son-2258681__340.jpg'); background-size: cover; height: 100vh; padding: 20px;">
        </div>
        <div class="col-6">
            <div class="row no-gutter">
                <div class="col-8 text-center" style="margin-top: 100px; background-color: rgb(209, 207, 201); border-radius: 10px;">
                    <div class="" style="font-size: 30px; font-weight:bold; margin-top: 40px;margin-bottom: 30px;"> Sign up</div>
                    <form action="">
                        <div class="row">
                            <div class="col-1" ></div>
                            <div class="col-10" ><input type="text" placeholder="Firstname" name="first" class="form-control mb-4"[(ngModel)]="registerData.first" [ngStyle] = "{'border': firstError ? '2px solid red' : 'none'}" > </div>
                            <div class="col-1" ></div><div class="col-1" ></div>
                            <div class="col-10" ><input type="text" placeholder="Lastname" name="last" class="form-control mb-4" [(ngModel)]="registerData.last" [ngStyle] = "{'border': lastError ? '2px solid red' : 'none'}"> </div>
                            <div class="col-1" ></div><div class="col-1" ></div>
                            <div class="col-10" ><input type="text" placeholder="phone number" name="phone" class="form-control mb-4"[(ngModel)]="registerData.phone" [ngStyle] = "{'border': phoneError ? '2px solid red' : 'none'}"> </div>
                            <div class="col-1" ></div><div class="col-1" ></div>
                            <div class="col-10" ><input type="email" placeholder="email" name="email" class="form-control mb-4" [(ngModel)]="registerData.email" [ngStyle] = "{'border': emailError ? '2px solid red' : 'none'}"> </div>
                            <div class="col-1" ></div><div class="col-1" ></div>
                            <div class="col-10" ><input type="password" placeholder="password" name="password" class="form-control mb-4"[(ngModel)]="registerData.password" [ngStyle] = "{'border': passwordError ? '2px solid red' : 'none'}"> </div>
                            <div class="col-3"></div>
                            <div class="col-6 butt"><button type="button" class="btn btn-block signup login" style="margin-bottom: 15px;" (click)="RegisterMember()">Sign up</button></div>
                        </div>
                    </form>
                </div>

                <div class="col-3 hove" style="background-color:rgb(135, 252, 86);color:white; margin-top: 130px; 
                         border-top-right-radius: 10px; border-bottom-right-radius: 10px; margin-bottom: 30px; ">
                    <div class="text-center" style="margin-top: 100px;">Already have <br />an account?</div>
                    <button type="button" class="btn btn-block" style="margin-bottom: 60px; font-size: 30px; color: white;"[routerLink]="['/login']">Login here</button>     
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
